/* pseudo-classi che determinano il colore dei link*/
A:link {color:#ADFF2F}
A:visited {color:#CCCC33}
A:active {color: yellow}
A:hover { color: #90EE90}   /* mouse over */

body {
    background-color: rgb(202, 231, 224);
    font-family: sans-serif;
  }

h1 {
    font-weight: normal;
    font-size: 300%;
}

input[type=button] {
    background-color: #5689f8; /* Red */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 14px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin:10px 10px 10px 10px;
}

img {
    position: center;
}